<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Bitcoin Ticker</title>
  <link rel="stylesheet" type="text/css" href="CSS/style.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="center">
    <h1>Bitcoin Ticker</h1>
    <p>The current date is <%=day%> (GMT)</p>
    <h1><%=amount + crypto%> is currently worth <%=price + " " + fiat%></h1>
  </div>
</body>

</html>