html {
  min-height: 1000px;
  font-family: 'MontSerrat','Tahoma','Arial','sans-serif';
  background-color: rgb(47, 47, 47);
  color: rgb(202, 202, 202);
}

h1 {
  font-size: 3rem;
  text-shadow: 2px 2px #595858;
}

input {
  margin-bottom: 30px;
}

select {
  margin: 5px 15px 20px 15px;
  height: 34px;
}

button {
  margin: 5px 15px 20px 15px;
  height: 34px;
}

.sizing {
  width: 110px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.center {
  margin: 100px auto;
  text-align: center;
}

